<% layout('layouts/project/boilerplate')%>

<h1>All projects</h1>
<div><br></div>

<!-- <div class="col-sm-3 col-md-3 search-header">
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control search-box " placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default btn-search" onclick="ss()"></button>
            </div>
        </div>
    </form>
</div> -->






<% for (let project of projects){%>
<div class="card mb-3">
    
    <div class="row">
        
           
            <div class="col-md-5">
                <img class="img-fluid" alt="" src="<% if(project.images.length>0) { %><%=(project.images[0].url)%><%}%>">
            </div>

        
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title"><%= project.title %> </h5>
                <p class="card-text"><%= project.descriptionBasic %></p>
                <a class="btn btn-primary" href="/projects/<%=project.name%>">View <%=project.title%></a>
            </div>

            
            
        </div>
    </div>
</div>
<% }%>





<!-- Dynamic pagination -->

<%if(!isSearch){%>
    <nav aria-label="...">
        <ul class="pagination pagination-lg justify-content-center">
            <%let skipVal=0%>
            <% for(let i=0;i<Math.ceil(projectCount/limit);i++){ %>
                <li class="page-item <%=skip==skipVal?"disabled":""%> ">
                    <a class="page-link" href="/allProjects?skip=<%=skipVal%>"><%=i+1%></a>
                </li>
                <%skipVal+=limit%>
            <%} %>
        </ul>
      </nav>
<%}%>
