<!DOCTYPE html>
<html lang="en">
    
  <%- include('partials/index/header')%>

  <body id="page-top" class="politics_version">
  
      <%- include("partials/index/nav")%>

      <%- include("partials/index/intro")%>

      <%- include("partials/index/about")%>
      
      <%- include("partials/index/fun")%>

      <%- include("partials/index/portfolio")%>

      <%- include("partials/index/blog")%>




      <%- include("partials/index/contact")%>

      <%- include ('partials/index/quote')%>

      <%- include ('partials/index/footer')%>

      

      


  </body>
</html>